
.result-container {
    text-align: center;
    margin: 20px 0px;
    color: #d6d7d8;
}

.result-container .date {
    font-size: 10pt;
}

.result-container .status {
    font-size: 8pt;
}

.result-container .result-row {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 10pt;
}

.result-container .home-team-row {
    width: 250px;
    text-align: right;
}

.result-container .away-team-row {
    width: 250px;
    text-align: left;
}

.result-container .score-row {
    width: 50px;
    margin: 0px 10px;
    font-weight: bold;
}
